ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}
.logo{
  height:65px;
  width:150px;
  margin-left: 90px;
  /* margin-top: 5px; */
  /* margin-bottom: 3px; */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111110;
  /* height:70px; */
  color:#DFDFDD;
  text-decoration: none;
}
nav ul li {
  height:70px;
  font-size: 1.20em;
  padding-top:9px;
}

.home{
  /* background-image: url("../image/pizza1.jpeg"); */
  background-size: cover;
  background-color:gray;
  background-repeat: no-repeat;
  height:900px;
  
  opacity: 0.7;
}

#hword{
  color:white;
  text-align: center;
  padding-top:300px;

}

button{
  /* background-color:  */
  color:black;
}

#Menu{
  height:900px;
  margin-top:100px;
  text-align: center;
  margin-bottom: 100px;
}

img{
  width:60%;
  height:200px;
  border-radius:50%;
}

h1{
  margin-bottom: 90px;
  margin-top: 60px;
  text-align: center;
  
}

p{
  font-size: 1.2em; 
  text-align:center;
  margin-left: 60px;
  margin-bottom: 50px;
}

#order{
  background-color: #686868;
  height:950px;
  justify-content:center;
  font-size: 1.25em;
  border-radius: 50px;
}


form{
  width:80%;
  margin-left:50px
}
#oda{
  margin-left:250px; 
  margin-top:70px; 
  border-radius: 15px;
  border-color: #686868;
  height:45px;
  width:70px;
}
