ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
  
}
.logo{
  height:90px;
  width:150px;
  margin-left: 90px;
  /* margin-top: 5px; */
  /* margin-bottom: 3px; */
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111110;
  /* height:70px; */
  color:#DFDFDD;
  text-decoration: none;
}
nav ul li {
  height:90px;
  font-size: 1.20em;
}

.home{
  background-image: url("https://image.freepik.com/free-photo/slice-delicious-pizza-with-ingredients-textured-wooden-background_23-2147926094.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:900px;
}

#hword{
  color:white;
  text-align: center;
  padding-top:300px;
  margin-left:400px;

}


#Menu{
  height:900px;
  margin-top:80px;
  text-align: center;
  margin-bottom: 100px;
}

img{
  width:60%;
  height:200px;
  border-radius:50%;
}

h1{
  margin-bottom: 90px;
  /* margin-top: 60px; */
  text-align: center;
}

h2{
  margin-bottom: 90px;
  padding-top: 60px;
  text-align: center;
} 

p{
  font-size: 1.2em; 
  text-align:center;
  margin-left: 60px;
  margin-bottom: 50px;
}

#order{
  background-image: url("https://image.freepik.com/free-photo/slice-delicious-pizza-with-ingredients-textured-wooden-background_23-2147926094.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:950px;
  justify-content:center;
  font-size: 1.25em;
}
.well{
  border-radius: 50px;
  margin-left:350px;
  margin-right:200px; 
  padding-top: 70px;
  height: 700px;
  width:55%;
}

form{
  width:100%;
  margin-left:50px
}
#oda{
  margin-left:125px; 
  margin-top:70px; 
  border-radius: 15px;
  border-color: #686868;
  height:45px;
  width:70px;
}

#btn {
  padding: 25px;
  border-radius: 50%;
  background-color: blanchedalmond;
  font-size: 20px;
}

.btn :hover {
  text-decoration: none;
}

#address{
  display:none;
}

#bobo{
  margin-top:120px;
  margin-left:125px;
  border-radius: 15px;
  border-color: #686868;
  height:45px;
  width:70px;
}

.footer {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height:70px;
  padding-top: 20px;
  font-size: 1.2em;
}
